*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 200px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 45px;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}
.container{
    position: absolute;
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    top: 20px;
    border-radius: 10px;
    width: 70%;
    height: 200px;
    left: 180px;
}
.container0{
    margin-top: 200px;
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    border-radius: 10px;
    left: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.col-12{
    width: 50px;
    height: 40px;
    position: fixed;
    left: 1077px;
    top: 1px;
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    text-align: center;
    border-radius: 12px;
    transition: all 0.4s ease-in-out 0s;
}
.ser{
    border-radius: 10px;
    height: 60px;
    width: 350px;
    
}
button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    position: absolute;
    left: 260px;
    bottom: 12px;
}
.col-7{
    position: absolute;
    left: 400px;
    top: 25px;
    display: inline-block;
}