* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .aboutus .row .absconten{
      border: 1px solid black;
      border-radius: 10px; 
      padding: 30px 20px 40px 20px;
      margin-left: 15px;
      margin-right: 15px;
      box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
       -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .aboutus .row .absconten::before{
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      top: 0;
      background-color: rgba(255, 0, 122, 1);
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
  }
  .aboutus .row .absconten:hover{
      box-shadow: 0px 0px 35px 9px rgb(240, 233, 233);   
  }
  .aboutus .row .absconten:hover::before{
      right: 0;
  }
  .aboutus .abtus{    
      margin: auto;
      text-align: center;
  }
  .aboutus .row img{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .aboutus .row h3{
      color: pink;
      font-size: 18px;
      padding-top: 10px;
      text-align: center;
  }
  .aboutus .row p{
      padding-top: 10px;
      text-align: center;
  }
  .apppack .appackulli{
      list-style: none;
      font-weight: bold;
  }
  .apppack .block{
      border: 1px solid silver;
      position: relative;
      text-align: center;
      height: cover;
      padding: 30px;
      box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
  }
  .apppack .block:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
  }
  .apppack .Month{
      width: 80px;
      height: 28px;
      background: linear-gradient( rgba(255, 0, 122, 1), rgba(142, 0, 116, 1));
      color: white;
      text-align: center;
      justify-content: center;
      position: absolute;
      transform : rotate(-90deg);
      top: 26px; 
      right: -10px;  
  }
  .apppack .square{
      background: #fd007a;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: rotate(45deg);
      top: 69px;
      right: 15px;
  }
  .apppack .iconapck .iconcircle svg{
      padding-right: 10px;
      transform: translateY(-7px);
  }
  .apppack .iconapck .iconcircle{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
      color: white;
      margin: 0px;
      transform: translateY(-10px);
      padding-left: 10px;
      padding: 18px;
  }
  .apppack .iconapck{
      display: block;
      justify-content: center;
      padding-top: 18px;
      left: 30px;
      width: 80px;
      height: 80px;
      border-right: dashed 5px #fd007a;
      border-bottom: solid 5px #fd007a;
      padding-left: 10px;
      border-radius: 100%;
      margin: 40px auto ;
  }
  .apppack .block a{
      background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
      border: 1px solid#cf0178;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      padding-top: 5px;
  }
  .apppack .block .dola {
      font-family: 'Rozha One', serif;
      font-size: 30px;
      line-height: 40px;
  }
  .apppack .block .dola .dolaicon{
      font-size: 20px;
      line-height: 80px;
      padding-bottom: 10px;
  }
  .apppack .bdif{
      background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);;
      color: white;
  }
  .apppack .Mdif{
      background: white;
      color: #cf0178;
  }
  .apppack .bdif .icondif{
      background: white;
      color: #cf0178;
  }