* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rozha One', serif
  /* border: 1px solid black; */
}
/* @media only screen and (max-width: 600px) {

} */
body{
  background: url('1.jpg');
}
#home {
  /* background: rgba(0, 0, 0, 0) url(1.jpg) no-repeat scroll left center; */
  overflow: auto;
}
.home-text-Present {
  margin: 10px;
  font-family: "Rozha One", serif;
  font-size: 34px;
  line-height: 28px;
  background: #ffffff;
  color: #191e23;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.home-btn1 {
  /* padding: 25px 45px; */
  /* margin-left:  */

  /* margin: 24px 0 0 15px; */
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
}

.btn-primary,
.btn-outline:hover {
  margin: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 0, 122, 1) 0%,
    rgba(142, 0, 116, 1) 100%
  );
  border: 1px solid#cf0178;
  color: white;
}

.btn-outline {
  border: 1px solid#cf0178;
  background: white;
  color: #191e23;
}

.btn-outline:hover {
  transition: all 0.6s;
}

.btn-danger {
  background: linear-gradient(
    to top,
    rgb(145, 255, 0) 0%,
    rgb(0, 142, 130) 100%
  );
  position: relative;
  border: 1px solid#cf0178;
  transition: all 0.3s;
  top: 0px;
  color: rgb(36, 34, 34);
}

.btn-style1 {
  position: relative;
  transition: all 0.3s;
  top: 0px;
}

.btn-style1:hover {
  top: -5px;
  color: white;
}

.btn-fade {
  opacity: 0.5;
  transition: all 0.3s;
}

.btn-fade:hover {
  opacity: 1;
}

.btn-icon{
        width: 50px;
        height: 50px;
}

.textInfo{
  font-family: 'Rozha One', serif;
  font-size: 40px;
  line-height: 54px;
}
.info{
  position: relative;
  float: none;
  
}
.space1{
  position: relative;
  left: 610px;
    content: '';
    height: 2px;
    width: 73px;
    background-color: #ff007d;
    
}


.parent{
  width: 100%;
  height: auto;
  background: #fb007a;
  display: flex;
}

.child{
  margin-left: 150px;
  padding-top: 80px;
  margin-right: 80px;
  width: 350px;
}

.white{
  color: white;
}

.size{
  font-size: 40px;
}
.size1{
  font-size: 16px;
}
.size2{
  font-size: 20px;
}

.child1{
  width: 350px;
  margin-right: 100px;
  padding-top: 80px;
}

.child1 img{
  width: 300px;
  height: 380px;
}
.child2{
  padding-top: 80px;
  width: 350px;
  margin-right: 150px;
}

                                              /* Phương */
.course{
  margin: 50px 0px 50px 0px;
}
.course .textColor{
  color: black;
  font-weight: 600;
}
.course .buttonColor{
  box-shadow: 0 5px 20px 0 rgb(19 168 116 / 20%);
  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.course .buttonColor:hover{

transform: translateY(-6px);


}
.course .icon-color{
  color: rgba(255, 0, 122, 1);
}
.course .textColor:hover{
  background-color: transparent;
  color:#fb007a;
}
.course .img-h {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  }
   
.course .img-h:hover {
  transform: scale(1.5,1.5);
  -webkit-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5);
  }
.course .img-border{
  width: 330.75px;
  height: 220.27px;
 
}
.course .blog-date{
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  position: absolute;
  z-index: 99;
  left: 30px;
  min-width: 80px;

  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
  font-family: 'Rozha One', serif;
  font-size: 18px;
  line-height: 35px;
  color: white;
}

/* OurTeacher */


.ourTeacher{
  padding: 50px 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(
    115deg,
    rgba(255, 0, 122, 0.7),
    rgba(142, 0, 116, 0.7)
  ),
  url(http://codestar.xyz/demo/Education/education/assets/img/testimonial-bg.jpg);
  margin: 100px 0px 100px 0px;
}
.ourTeacher .teacher-heading{
  color: white;
}
.ourTeacher .swiper-container {
  width: 70%;
  height: 50%;
}

.ourTeacher .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-right: 4px solid #ff0383;
  padding: 30px 20px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}
 .ourTeacher .swiper-box{

}
.ourTeacher h4{
  color: rgba(255, 0, 122, 1);
}
.ourTeacher .border-radius{
    border-radius: 50%;
}
 @media only screen and (max-width: 670px) {
  .ourTeacher .swiper-container{
    width: 80%;
  }
}
                                              /* Phương */