* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
/* @media only screen and (max-width: 600px) {

} */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Rozha One', serif;
  font-size: 16px;
  line-height: 28px;
  color: #191e23;
}
/* body{
  background: url('1.jpg');
} */
#home {
  /* background: rgba(0, 0, 0, 0) url(1.jpg) no-repeat scroll left center; */
  overflow: auto;
}
.avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.aboutus .row .absconten{
    border: 1px solid black;
    border-radius: 10px; 
    padding: 30px 20px 40px 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
     -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.aboutus .row .absconten::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background-color: rgba(255, 0, 122, 1);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.aboutus .row .absconten:hover{
    box-shadow: 0px 0px 35px 9px rgb(240, 233, 233);   
}
.aboutus .row .absconten:hover::before{
    right: 0;
}
.aboutus .abtus{    
    margin: auto;
    text-align: center;
}
.aboutus .row img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutus .row h3{
    color: pink;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}
.aboutus .row p{
    padding-top: 10px;
    text-align: center;
}
.apppack .appackulli{
    list-style: none;
    font-weight: bold;
}
.apppack .block{
    border: 1px solid silver;
    position: relative;
    text-align: center;
    height: cover;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
}
.apppack .block:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 10px 5px rgb(240, 233, 233);
}
.apppack .Month{
    width: 80px;
    height: 28px;
    background: linear-gradient( rgba(255, 0, 122, 1), rgba(142, 0, 116, 1));
    color: white;
    text-align: center;
    justify-content: center;
    position: absolute;
    transform : rotate(-90deg);
    top: 24px; 
    right: -10px;  
}
.apppack .square{
    background: #fd007a;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    top: 69px;
    right: 15px;
}
.apppack .iconapck .iconcircle svg{
    padding-right: 10px;
    transform: translateY(-7px);
}
.apppack .iconapck .iconcircle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    color: white;
    margin: 0px;
    transform: translateY(-10px);
    padding-left: 10px;
    padding: 18px;
}
.apppack .iconapck{
    display: block;
    justify-content: center;
    padding-top: 18px;
    /* color: white; */
    left: 30px;
    width: 80px;
    height: 80px;
    border-right: dashed 5px #fd007a;
    border-bottom: solid 5px #fd007a;
    padding-left: 10px;
    border-radius: 100%;
    margin: 40px auto ;
    /* background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);  */
}
.apppack .block a{
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
    border: 1px solid#cf0178;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
}
.apppack .block .dola {
    font-family: 'Rozha One', serif;
    font-size: 30px;
    line-height: 40px;
}
.apppack .block .dola .dolaicon{
    font-size: 20px;
    line-height: 80px;
    padding-bottom: 10px;
}
.apppack .bdif{
    background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);;
    color: white;
}
.apppack .Mdif{
    background: white;
    color: #cf0178;
}
.apppack .bdif .icondif{
    background: white;
    color: #cf0178;
}
.symbol{
    background: cornflowerblue;
    color: white;
    padding-top: 100px;
    padding-left: 1%;
    font-size: 18px;
    height: 800px;
    background: url(assets/img/feature-bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}
.home-text-Present {
  margin: 10px;
  font-family: "Rozha One", serif;
  font-size: 34px;
  line-height: 28px;
  background: #ffffff;
  color: #191e23;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
}

.btn-primary,
.btn-outline:hover {
  margin: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 0, 122, 1) 0%,
    rgba(142, 0, 116, 1) 100%
  );
  border: 1px solid#cf0178;
  color: white;
}

.btn-outline {
  border: 1px solid#cf0178;
  background: white;
  color: #191e23;
}

.btn-outline:hover {
  transition: all 0.6s;
}

.btn-danger {
  background: linear-gradient(
    to top,
    rgb(145, 255, 0) 0%,
    rgb(0, 142, 130) 100%
  );
  position: relative;
  border: 1px solid#cf0178;
  transition: all 0.3s;
  top: 0px;
  color: rgb(36, 34, 34);
}

.btn-style1 {
  position: relative;
  transition: all 0.3s;
  top: 0px;
}

.btn-style1:hover {
  top: -5px;
  color: white;
}

.btn-fade {
  opacity: 0.5;
  transition: all 0.3s;
}

.btn-fade:hover {
  opacity: 1;
}

.btn-icon{
        width: 50px;
        height: 50px;
}

.textInfo{
  font-family: 'Rozha One', serif;
  font-size: 40px;
  line-height: 54px;
}
.info{
  position: relative;
  float: none;
  
}
.space1{
  position: relative;
     left: 610px;
    content: '';
    height: 2px;
    width: 73px;
    background-color: #ff007d;
}

.parent{
  width: 100%;
  height: auto;
  background: #fb007a;
  display: flex;
}

.child{
  margin-left: 150px;
  padding-top: 80px;
  margin-right: 80px;
  width: 350px;
}

.white{
  color: white;
}

.size{
  font-size: 40px;
}
.size1{
  font-size: 16px;
}
.size2{
  font-size: 20px;
}

.child1{
  width: 350px;
  margin-right: 100px;
  padding-top: 80px;
}

.child1 img{
  width: 300px;
  height: 380px;
}
.child2{
  padding-top: 80px;
  width: 350px;
  margin-right: 150px;
}

h2 {
  color: #2C2C2C;
  font-size: 46px;
  line-height: 60px;
  font-weight: 400;
}

.home {
  background: rgba(0, 0, 0, 0) url(assets/img/bg.png) no-repeat scroll center center;
  background-size: cover;
}

header {
  /* position: relative; */
  top: 0;
  left: 0;
  position: sticky;
  z-index: 99;
}


/* navbar */

.navbar-scroll {
  background-color: #ffffff;
  transition: background-color 0.5s;
}

ul li {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: 0.15s;
  padding: 0px 20px;
}

ul li a:hover {
  color: #B80F79 !important;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

img {
  height: auto;
  max-width: 100%;
}

.header-main {
  position: sticky;
  top: 0;
}


/* end  navbar */


/* our-choose */

.our-feature-img {
  text-align: right;
}

#our-choose {
  padding-bottom: 100px;
}

.title-ourchoose {
  color: white;
  padding-top: 100px;
  padding-left: 1%;
  font-size: 18px;
  height: 800px;
  background: url(assets/img/feature-bg.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}

.title-ourchoose h2 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}

.single-feature {
  height: auto;
  padding: 9%;
  margin-top: 5%;
  content: black;
  background-color: white;
  border-radius: 30px 0 30px 30px;
  position: relative;
  transition: 0.5s;
  -webkit-box-shadow: 0 0.6rem 0.875rem rgba(45, 49, 54, .09);
  box-shadow: 0 0.6rem 0.875rem rgba(15, 16, 19, 0.09);
}

.margin-top-up {
  margin-top: -480px;
}

.our-feature-img img {
  width: 450px;
}

.feature-icon {
  top: 0;
  color: #ffffff;
  padding: 10px;
  right: 0;
  text-align: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
  border-radius: 0 0 0 20px;
}

.single-feature:hover {
  color: #ffffff;
  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
}

.single-feature h4 {
  font-weight: bold;
}

@media only screen and (max-width:1300px) {
  .nav-item>.nav-link {
      display: block;
  }
}

@media only screen and (max-width:994px) {
  .header-inner {
      background-color: #ffffff !important;
  }
  .nav-item>.nav-link {
      color: #000 !important;
  }
}

@media(max-width: 1050px) {
  .margin-top-up {
      margin-top: -300px;
  }
}

@media(max-width: 570px) {
  .margin-top-up {
      margin-top: -50px;
  }
}

@media(max-width: 1650px) {
  .our-feature-img img {
      max-width: 380px;
  }
}

@media(max-width: 1390px) {
  .our-feature-img img {
      max-width: 320px;
  }
}


/* end our choose */