
                                              /* Phương */
.course{
  margin: 50px 0px 50px 0px;
}
.course .textColor{
  color: black;
  font-weight: 600;
}
.course .buttonColor{
  box-shadow: 0 5px 20px 0 rgb(19 168 116 / 20%);
  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.course .buttonColor:hover{
transform: translateY(-6px);
}
.course .space{
  background-color: #fb007a;
  height: 2px;
  width: 100px;
  margin: 20px 0px 20px 0px;
}
.course .text-center{
  text-align: center;
  width: 30%;
}
@media only screen and (max-width: 670px) {
  .course .text-center{
    width: 75%;
  }
}
.course .icon-color{
  color: rgba(255, 0, 122, 1);
}
.course .textColor:hover{
  background-color: transparent;
  color:#fb007a;
}
.course .img-h {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  }
   
.course .img-h:hover {
  transform: scale(1.5,1.5);
  -webkit-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5);
  }
.course .img-border{
  width: 330.75px;
  height: 220.27px;
 
}
.course .blog-date{
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  position: absolute;
  z-index: 99;
  left: 30px;
  min-width: 80px;

  background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
  font-family: 'Rozha One', serif;
  font-size: 18px;
  line-height: 35px;
  color: white;
}

/* OurTeacher */


.ourTeacher{
  padding: 50px 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(
    115deg,
    rgba(255, 0, 122, 0.7),
    rgba(142, 0, 116, 0.7)
  ),
  url(http://codestar.xyz/demo/Education/education/assets/img/testimonial-bg.jpg);
  margin: 100px 0px 100px 0px;
}
.ourTeacher .teacher-heading{
  color: white;
}
.ourTeacher .swiper-container {
  width: 70%;
  height: 50%;
}
.ourTeacher .space{
  background-color: #fb007a;
  height: 2px;
  width: 100px;
  margin: 20px 0px 20px 0px;
}
.ourTeacher .text-center{
  text-align: center;
}
.ourTeacher .swiper-slide {
  font-size: 18px;
  background: #fff;
  border-right: 4px solid #ff0383;
  padding: 30px 20px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}
 .ourTeacher .swiper-box{

}
.ourTeacher h4{
  color: rgba(255, 0, 122, 1);
}
.ourTeacher .border-radius{
    border-radius: 50%;
    
}
 @media only screen and (max-width: 670px) {
  .ourTeacher .swiper-container{
    width: 80%;
  }
}
                                              /* Phương */
  